<mat-toolbar >
  Chat App
  <ng-container *ngIf="userProfile$ | async as profileUser; else loginButton">
  <button  mat-button [matMenuTriggerFor]="userMenu" >
 
    <img  [src]="profileUser.photoUrl ?? '../../../assets/profile.png'" height="30" width ="30"alt="">
  {{profileUser.displayName}}
  <mat-icon>expand_more</mat-icon>
  </button>
 
</ng-container>

  <ng-template  #loginButton>
  <button mat-button routerLink="/login">
    <mat-icon>login</mat-icon>
    Log In
    </button>
  </ng-template>
</mat-toolbar>
<mat-menu #userMenu="matMenu" >
  <button mat-menu-item (click)="logout()"> Logout</button>
  <button mat-menu-item routerLink="/profile"> Profile</button>

</mat-menu>
<router-outlet></router-outlet>